/* media query 1170px */
@media(max-width:1170px){


.sectioon-subtitle{
    max-width: 60%;
}
.header .navbar{
    background-size: cover;
    padding: 2rem;
}
.header.navbar-nav{
    margin-top: 2rem;
}
.header.navbar-nav .nav-link{
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
}
.banner_section .carousal-item{
    height: 90vh;
}
.masthead .color-overlay .text {
    margin-left: 85rem;
    font-size: 3.5rem;
}
}
@media(max-width:1169px) {
    .masthead .color-overlay .text {
        margin-left: 45rem;
        font-size: 3.5rem;
    }
}
@media(max-width:991px){
    .about.banner_section,.team .banner_section,.gallery .banner_section,.contact .banner_section{
        background: url('/IMAGES/background.mp4');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top:17rem;
        padding-bottom: 10rem;
        min-height: auto;
    }
    .collapse, ul {
  background-color: #121212; 
}
.our-team{
    margin-bottom: 30px;
}
}
@media(max-width:767px)
{
    body,html{
        font-size: 8px;
    }
    .sectioon-subtitle{
        max-width: 80%;
    }
    /* banner section */
    .banner_section{
        min-height: 10vh;
    }
    .banner_section .carousal-item{
        height: -2rem;
    }
    .masthead{
        min-height: 20vh;
    }
    .hero .masthead .color-overlay .text {
        margin-left: 52rem;
        margin-top: 11rem;
        font-size: 3rem;
    }
    .collapse, ul {
        background-color: #121212; 
      }
}
@media(max-width:590px){
    body,html{
        font-size: 7px;
    }
    .section-subtitle{
        max-width: 80%;
    }
    .banner_section{
        min-height: 10vh;
    }
    .collapse, ul {
        background-color: #121212; 
      }
}